<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container my-2">
    <h1>RecommendationLetter List</h1>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>id</th>
            <th>Teacher's email</th>
            <th>Request id</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="RecommendationLetter : ${listLetters}">
            <td th:text="${RecommendationLetter.id}"></td>
            <td th:text="${RecommendationLetter.teacher_email}"></td>
            <td th:text="${RecommendationLetter.request_id}"></td>


            <td>
                <a th:href="@{/student/deleteRecommendationLetter/{id}(id=${RecommendationLetter.id})}" class="btn btn-danger">Delete</a>
        </tr>
        </tbody>

    </table>
</div>
<div class="logout">
    <ul>
        <li ><a class="active" th:href="@{/login}">Logout</a></li>
    </ul>
</div>
</body>
</html>